/*font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;*/
:root {
  --first-txt-color: #ffffff;
  --title-txt-color: #212121;
  --main-txt-color: #757575;
  --footer-info-txt: rgba(255, 255, 255, 0.6);
  --accent-txt-color: #2196f3;
  --background-color: #2f303a;
  --background-color-team: #f5f4fa;

  --main-font: "Roboto", sans-serif;
  --second-font: "Raleway", sans-serif;
}
/*base style*/
.list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}
.link {
  text-decoration: none;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title-txt-color);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
ul {
  padding: 0;
  margin: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
 /*header*/
.header {
  border-bottom: var(--first-txt-color);
  background-color: var(--first-txt-color);
  border-bottom: 1px solid #ececec;
}

.header-info-txt {
  margin-left: auto;
  display: flex;
}

.header-ikon {
  fill: var(--main-txt-color);
  margin-right: 10px;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav {
  display: flex;
  align-items: center;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}
.nav-list-item {
  margin-right: 50px;
}

.nav-link:last-child {
  margin-right: 0;
}

.header-container {
  display: flex;
  align-items: center;
}

.list {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-info {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-info-item {
  margin-right: 50px;
}

.header-info:last-child {
  margin-right: 0;
}

.header-list {
  font-family: var(--second-font);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;

  letter-spacing: 0.03em;

  color: var(--accent-txt-color);
}
.list-logo {
  font-family: var(--second-font);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;

  letter-spacing: 0.03em;

  color: var(--title-txt-color);
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-txt-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-txt-color);
}
.header-info {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-txt-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-info:hover,
.header-info:focus {
  color: var(--accent-txt-color);
}

/*hero*/
.hero {
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  background-color: var(--background-color);
}

.hero-title {
  width: 696px;
  margin: auto;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--first-txt-color);
}

.main_btn {
  margin-top: 30px;
  border: none;

  height: 50px;

  background: var(--accent-txt-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  /* identical to box height, or 187% */

  color: var(--first-txt-color);
  cursor: pointer;
}

.button-txt {
  padding: 9px 31px;
  height: 30px;
  left: 732px;
  top: 440px;

  font-weight: bold;
  font-size: 16px;

  /* identical to box height, or 187% */
  font-family: Roboto;
  font-style: normal;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  line-height: 2;

  color: var(--first-txt-color);
}
/*adds*/
.adds-title-main {
  visibility: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.adds-about {
  display: flex;
  align-items: center;
}

.adds-list {
  margin-right: 30px;
}
.adds-list:last-child {
  margin: 0;
}

.adds-title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-txt-color);
}
.adds-text {
  width: 270px;

  font-size: 14px;
  line-height: 1.7;
  /* or 171% */
  letter-spacing: 0.03em;

  color: var(--main-txt-color);
}
/*about*/
.about {
  padding-top: 0;
}

.about-us {
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-txt-color);
}

.about-us-list {
  display: flex;
  align-items: center;
}

.about-us-img {
  margin-right: 30px;
  display: block;
  height: auto;
  max-width: 100%;
}

.about-us-img:last-child {
  margin: 0;
}
/*team*/
.team {
  background-color: var(--background-color-team);
}
.team-title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-txt-color);
}
.team-people {
  display: flex;
  align-items: center;
}

.team-people-img {
  text-align: center;
  margin-right: 30px;
  background: var(--first-txt-color);
  /* material shadow v1 */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-people-img:last-child {
  margin: 0;
}

.team-names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-txt-color);
}

.team-work {
  margin-top: 10px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-txt-color);
}
/*footer*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--background-color);
}

.footer-logo {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  /* identical to box height */

  letter-spacing: 0.03em;
  color: var(--first-txt-color);
}
.header-list-footer {
  margin-top: 60px;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: var(--accent-txt-color);
}

.footer-addres {
  margin-top: 20px;
}

.footer-list-item {
  margin-bottom: 9px;
}
.footer-list-item:last-child {
  margin: 0;
}

.footer-item-first {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--first-txt-color);
}
.footer-item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--footer-info-txt);
}

.nav-title-portfolio {
  visibility: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
/*portfolio*/
.portfolio-buttom {
  width: 73px;
  height: 38px;
  left: 495px;
  top: 174px;
}

.buttun-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.button-portfolio {
  margin-right: 8px;
}

.button-portfolio-txt {
  border: 0 transparent;
  border-radius: 4px;
  padding: 6px 22px;
  color: var(--title-txt-color);
  background-color: var(--background-color-team);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio-txt:hover,
.button-portfolio-txt:focus {
  background-color: var(--accent-txt-color);
  color: var(--primary-white-color);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.08),
    0 3px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: var(--first-txt-color);
}

.portfolio-title {
  margin-bottom: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;
  color: var(--title-txt-color);
}
.portfolio-discription {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 2;
  /* identical to box height, or 187% */

  letter-spacing: 0.03em;
  color: var(--main-txt-color);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
}
.potrfolio-cards {
  margin-right: 30px;
  margin-bottom: 30px;
}

.radious:hover,
.radious:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.radious {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-cards {
  padding: 20px 24px 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.potrfolio-cards:nth-child(3n + 3) {
  margin-right: 0px;
}
li:last-child {
  margin-right: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.team-people-info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.potrfolio-cards:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/bgr(9)(1).jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
}

.header-info:hover > .header-ikon:hover,
.header-ikon:focus {
  fill: var(--accent-txt-color);
}
.header-ikon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icons {
  width: 20px;

  height: 20px;
}

.social-link {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  background-color: var(--first-txt-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social {
  display: flex;
  justify-content: center;
}
.social-item:not(:last-child) {
  margin-right: 10px;
  background-size: contain;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-txt-color);
  fill: var(--first-txt-color);
}

.footer-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-txt-color);
}

.footer-media {
  display: flex;
  justify-content: center;
}
.footer-list-media:not(:last-child) {
  margin-right: 10px;
  background-size: contain;
}

.footer-link {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--first-txt-color);
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-link:hover,
.footer-link:focus {
  background-color: var(--accent-txt-color);
  fill: var(--first-txt-color);
}
.footer-icons {
  width: 20px;
  height: 20px;
}

.adds-antenna {
  background-color: var(--background-color-team);
  border-radius: 4px;
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.footer-box {
  display: flex;
  align-items: baseline;
}
/*clients*/
.clients {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-txt-color);
  margin-top: 94px;
  margin-bottom: 50px;
}

.clients-all {
  display: flex;
  margin-bottom: 94px;
}
.clients-info {
  margin-right: 30px;
}

.clients-href {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link {
  fill: currentColor;
}

.clients-href:hover,
.clients-href:focus {
  color: var(--accent-txt-color);
  border-color: var(--accent-txt-color);
}

.footer-social-linc {
  margin-left: 70px;
}

.current {
  color: #2196f3;
}

.current:after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

/*modal window*/

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;

  padding: 40px;
  transform: translate(-50%, -50%);
  background-color: var(--first-txt-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-btn {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}
.modal-btn:hover,
.modal-btn:focus {
  fill: var(--accent-txt-color);
}

.btm-modal-icon {
  display: flex;
}

.modal-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-txt-color);
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}
.form-label {
  position: relative;
  font-size: 12px;
  line-height: 1.2;
  /* identical to box height */

  letter-spacing: 0.01em;

  color: #757575;
}
.form-textarea {
  resize: none;
  padding: 12px 16px;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: rgba(96, 58, 58, 0.5);
}

.form-lines {
  margin-bottom: 10px;
}

input {
  padding: 10px;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
}
.form-input {
  width: 448px;
  height: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  padding-left: 42px;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  color: #5b5353;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: transparent;
}

.icon-username {
  position: absolute;
  top: 104px;
  left: 52px;
  width: 18px;
  height: 18px;
  display: inline-block;
}
.icon-phone {
  position: absolute;
  top: 172px;
  left: 52px;
  width: 18px;
  height: 18px;
  display: inline-block;
}
.icon-email {
  position: absolute;
  top: 240px;
  left: 52px;
  width: 18px;
  height: 18px;
  display: inline-block;
}
.form-textarea {
  color: #212121;
  outline: transparent;
}
.form-textarea:focus {
  border-color: var(--accent-txt-color);
  cursor: pointer;
}
.form-input:focus {
  border-color: var(--accent-txt-color);
  cursor: pointer;
}
.form-input:focus + .icon {
  fill: var(--accent-txt-color);
}

.btn-subbmit {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 200px;
  height: 50px;
  padding: 10px 55px 10px 56px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--first-txt-color);
  font-size: inherit;
  cursor: pointer;
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  /* identical to box height, or 188% */
  letter-spacing: 0.06em;
}

.btn-subbmit:hover,
.btn-subbmit:focus {
  background-color: #188ce8;
}

/*hover txt portfolio*/
.portfolio-wrapper {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.portfolio-info {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 63px 24px;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  color: var(--first-txt-color);
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  background: rgba(33, 150, 243, 0.9);
}

.potrfolio-cards:hover .portfolio-info {
  transform: translateY(0%);
}

/*hover txt about section*/
.about-container {
  position: relative;
}
.about-txt {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  font-size: 14px;
  line-height: 16px;

  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

/*модальное окно галочка*/
.agreement-icon {
  position: absolute;
  left: 54px;
  top: 447px;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.agreement-icon-done {
  position: absolute;
  left: 54px;
  top: 447px;
  opacity: 0;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.form-checkbox:checked + .agreement-box > .agreement-icon {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-checkbox:checked + .agreement-box > .agreement-icon-done {
  opacity: 1;
  background: #2196f3;
  border-radius: 2px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-txt {
  margin-left: 27px;
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  margin-top: 20px;
  /* identical to box height, or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}
.agreement-link {
  color: var(--accent-txt-color);
  display: flex;
  margin-left: 5px;
}

/*ховер подписка*/
.subscribe-box {
  margin-left: 93px;
}
.subscribe-txt {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--first-txt-color);
}
.subscribe-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.subscribe-btn {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  position: relative;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  font-weight: 700;
  font-size: 16px;
  border-radius: 4px;
  line-height: 2;
  /* identical to box height, or 188% */
  margin-left: 12px;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
}
.subscribe-icons {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
.form-fild-global {
  display: flex;
  align-items: flex-end;
}
