@charset "UTF-8";
:root {
  --first-txt-color: #ffffff;
  --title-txt-color: #212121;
  --main-txt-color: #757575;
  --footer-info-txt: rgba(255, 255, 255, 0.6);
  --accent-txt-color: #2196f3;
  --background-color: #2f303a;
  --background-color-team: #f5f4fa;
  --main-font: "Roboto", sans-serif;
  --second-font: "Raleway", sans-serif;
}

.list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title-txt-color);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.main_btn {
  margin-top: 30px;
  border: none;
  height: 50px;
  background: var(--accent-txt-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  /* identical to box height, or 187% */
  color: var(--first-txt-color);
  cursor: pointer;
}

.button-txt {
  padding: 9px 31px;
  height: 30px;
  left: 732px;
  top: 440px;
  font-weight: bold;
  font-size: 16px;
  /* identical to box height, or 187% */
  font-family: Roboto;
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  line-height: 2;
  color: var(--first-txt-color);
}

.modal-btn {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  width: 30px;
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal-btn:hover,
.modal-btn:focus {
  fill: var(--accent-txt-color);
}

.btm-modal-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe-btn {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 200px;
  height: 50px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  font-weight: 700;
  font-size: 16px;
  border-radius: 4px;
  line-height: 2;
  /* identical to box height, or 188% */
  margin-left: 12px;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
}

.btn-subbmit {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 200px;
  height: 50px;
  padding: 10px 55px 10px 56px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--first-txt-color);
  font-size: inherit;
  cursor: pointer;
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  /* identical to box height, or 188% */
  letter-spacing: 0.06em;
}

.btn-subbmit:hover,
.btn-subbmit:focus {
  background-color: #188ce8;
}

.portfolio-buttom {
  width: 73px;
  height: 38px;
  left: 495px;
  top: 174px;
}

.buttun-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.button-portfolio {
  margin-right: 8px;
}

.button-portfolio-txt {
  border: 0 transparent;
  border-radius: 4px;
  padding: 6px 22px;
  color: var(--title-txt-color);
  background-color: var(--background-color-team);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio-txt:hover,
.button-portfolio-txt:focus {
  background-color: var(--accent-txt-color);
  color: var(--primary-white-color);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.08), 0 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.08), 0 3px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: var(--first-txt-color);
}

.header {
  border-bottom: var(--first-txt-color);
  background-color: var(--first-txt-color);
  border-bottom: 1px solid #ececec;
}

.header-info-txt {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-ikon {
  fill: var(--main-txt-color);
  margin-right: 10px;
  fill: currentColor;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.header__nav-list-item {
  margin-right: 50px;
}

.nav-link:last-child {
  margin-right: 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-info {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-info-item {
  margin-right: 50px;
}

.header-info:last-child {
  margin-right: 0;
}

.header-list {
  font-family: var(--second-font);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-txt-color);
}

.headerz__list-logo {
  font-family: var(--second-font);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--title-txt-color);
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-txt-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-txt-color);
}

.header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-txt-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-info:hover,
.header-info:focus {
  color: var(--accent-txt-color);
}

.header-info:hover > .header-ikon:hover,
.header-ikon:focus {
  fill: var(--accent-txt-color);
}

.header-ikon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/bgr(9)(1).jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/bgr(9)(1).jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
}

.header-info:hover > .header-ikon:hover,
.header-ikon:focus {
  fill: var(--accent-txt-color);
}

.header-ikon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--background-color);
}

.hero-title {
  width: 696px;
  margin: auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--first-txt-color);
}

.main_btn {
  margin-top: 30px;
  border: none;
  height: 50px;
  background: var(--accent-txt-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  /* identical to box height, or 187% */
  color: var(--first-txt-color);
  cursor: pointer;
}

.button-txt {
  padding: 9px 31px;
  height: 30px;
  left: 732px;
  top: 440px;
  font-weight: bold;
  font-size: 16px;
  /* identical to box height, or 187% */
  font-family: Roboto;
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  line-height: 2;
  color: var(--first-txt-color);
}

.adds-title-main {
  visibility: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.adds-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.adds-list {
  margin-right: 30px;
}

.adds-list:last-child {
  margin: 0;
}

.adds-title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-txt-color);
}

.adds-text {
  width: 270px;
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--main-txt-color);
}

.adds-antenna {
  background-color: var(--background-color-team);
  border-radius: 4px;
  width: 270px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.about {
  padding-top: 0;
}

.about-us {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-txt-color);
}

.about-us-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-us-img {
  margin-right: 30px;
  display: block;
  height: auto;
  max-width: 100%;
}

.about-us-img:last-child {
  margin: 0;
}

.about-container {
  position: relative;
}

.about-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--background-color-team);
}

.team-title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-txt-color);
}

.team-people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-people-img {
  text-align: center;
  margin-right: 30px;
  background: var(--first-txt-color);
  /* material shadow v1 */
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-people-img:last-child {
  margin: 0;
}

.team-names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-txt-color);
}

.team-work {
  margin-top: 10px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-color);
}

.team-people-info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-icons {
  width: 20px;
  height: 20px;
}

.social-link {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  background-color: var(--first-txt-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-item:not(:last-child) {
  margin-right: 10px;
  background-size: contain;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-txt-color);
  fill: var(--first-txt-color);
}

.clients {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-txt-color);
  margin-top: 94px;
  margin-bottom: 50px;
}

.clients-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 94px;
}

.clients-info {
  margin-right: 30px;
}

.clients-href {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link {
  fill: currentColor;
}

.clients-href:hover,
.clients-href:focus {
  color: var(--accent-txt-color);
  border-color: var(--accent-txt-color);
}

.footer-social-linc {
  margin-left: 70px;
}

.current {
  color: #2196f3;
}

.current:after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color);
}

.footer-logo {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--first-txt-color);
}

.header-list-footer {
  margin-top: 60px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--accent-txt-color);
}

.footer-addres {
  margin-top: 20px;
}

.footer-list-item {
  margin-bottom: 9px;
}

.footer-list-item:last-child {
  margin: 0;
}

.footer-item-first {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--first-txt-color);
}

.footer-item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--footer-info-txt);
}

.nav-title-portfolio {
  visibility: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.footer-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-txt-color);
}

.footer-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-list-media:not(:last-child) {
  margin-right: 10px;
  background-size: contain;
}

.footer-link {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--first-txt-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--accent-txt-color);
  fill: var(--first-txt-color);
}

.footer-icons {
  width: 20px;
  height: 20px;
}

.footer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  padding: 40px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: var(--first-txt-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-btn {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  width: 30px;
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal-btn:hover,
.modal-btn:focus {
  fill: var(--accent-txt-color);
}

.btm-modal-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-txt-color);
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 12px;
}

.form-label {
  position: relative;
  font-size: 12px;
  line-height: 1.2;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: #757575;
}

.form-textarea {
  resize: none;
  padding: 12px 16px;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(96, 58, 58, 0.5);
}

.form-lines {
  margin-bottom: 10px;
}

input {
  padding: 10px;
}

label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4px;
}

.form-input {
  width: 448px;
  height: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  padding-left: 42px;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #5b5353;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  outline: transparent;
}

.icon-username {
  position: absolute;
  top: 104px;
  left: 52px;
  width: 18px;
  height: 18px;
  display: inline-block;
}

.icon-phone {
  position: absolute;
  top: 172px;
  left: 52px;
  width: 18px;
  height: 18px;
  display: inline-block;
}

.icon-email {
  position: absolute;
  top: 240px;
  left: 52px;
  width: 18px;
  height: 18px;
  display: inline-block;
}

.form-textarea {
  color: #212121;
  outline: transparent;
}

.form-textarea:focus {
  border-color: var(--accent-txt-color);
  cursor: pointer;
}

.form-input:focus {
  border-color: var(--accent-txt-color);
  cursor: pointer;
}

.form-input:focus + .icon {
  fill: var(--accent-txt-color);
}

.btn-subbmit {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 200px;
  height: 50px;
  padding: 10px 55px 10px 56px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--first-txt-color);
  font-size: inherit;
  cursor: pointer;
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  /* identical to box height, or 188% */
  letter-spacing: 0.06em;
}

.btn-subbmit:hover,
.btn-subbmit:focus {
  background-color: #188ce8;
}

.agreement-icon {
  position: absolute;
  left: 54px;
  top: 447px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-icon-done {
  position: absolute;
  left: 54px;
  top: 447px;
  opacity: 0;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-checkbox:checked + .agreement-box > .agreement-icon {
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox:checked + .agreement-box > .agreement-icon-done {
  opacity: 1;
  background: #2196f3;
  border-radius: 2px;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-txt {
  margin-left: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  margin-top: 20px;
  /* identical to box height, or 171% */
  letter-spacing: 0.03em;
  color: #757575;
}

.agreement-link {
  color: var(--accent-txt-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5px;
}

/*ховер подписка*/
.subscribe-box {
  margin-left: 93px;
}

.subscribe-txt {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-txt-color);
}

.subscribe-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-btn {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 200px;
  height: 50px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  font-weight: 700;
  font-size: 16px;
  border-radius: 4px;
  line-height: 2;
  /* identical to box height, or 188% */
  margin-left: 12px;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
}

.subscribe-icons {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.form-fild-global {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
/*# sourceMappingURL=main.css.map */