.clients {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-txt-color);
    
    margin-bottom: 50px;
}
.top-clients{
    margin-top: 94px;
    margin-bottom: 94px;
}
.clients-all {
    display: flex;
   
}

.clients-info {
    margin-right: 30px;
}

.clients-href {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    color: #afb1b8;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link {
    fill: currentColor;
}

.clients-href:hover,
.clients-href:focus {
    color: var(--accent-txt-color);
    border-color: var(--accent-txt-color);
}