.header {
    border-bottom: var(--first-txt-color);
    background-color: var(--first-txt-color);
    border-bottom: 1px solid #ececec;
}

.header_info-txt {
    margin-left: auto;
    display: flex;
}

.header_ikon {
    fill: var(--main-txt-color);
    margin-right: 10px;
    fill: currentColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header_nav {
    display: flex;
    align-items: center;
    align-items: center;
}

.header_nav-list {
    display: flex;
    align-items: center;
}

.header_nav-link {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
}

.header_nav-list-item {
    margin-right: 50px;
}

.header_nav-link:last-child {
    margin-right: 0;
}

.header_container {
    display: flex;
    align-items: center;
}

.header_list {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
}

.header_info {
    padding-top: 32px;
    padding-bottom: 32px;
}

.header_info-item {
    margin-right: 50px;
}

.header_info:last-child {
    margin-right: 0;
}

.header_list { 
    font-family: var(--second-font);
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;

    letter-spacing: 0.03em;

    color: var(--accent-txt-color);
}

.header_list-logo {
    font-family: var(--second-font);
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;

    letter-spacing: 0.03em;

    color: var(--title-txt-color);
}

.header_nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--title-txt-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header_nav-link:hover,
.header_nav-link:focus {
    color: var(--accent-txt-color);
}

.header_info {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--main-txt-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header_info:hover,
.header_info:focus {
    color: var(--accent-txt-color);
}
.header_info:hover>.header_ikon:hover,
.header_ikon:focus {
    fill: var(--accent-txt-color);
}

.header_ikon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header_current {
    color: #2196f3;
}

.header_current:after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
}