.team {
    background-color: var(--background-color-team);
}

.team-title {
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-txt-color);
}

.team-people {
    display: flex;
    align-items: center;
}

.team-people-img {
    text-align: center;
    margin-right: 30px;
    background: var(--first-txt-color);
    /* material shadow v1 */

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-people-img:last-child {
    margin: 0;
}

.team-names {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-txt-color);
}

.team-work {
    margin-top: 10px;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.2;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.03em;

    color: var(--main-txt-color);
}
.team-people-info {
    padding-top: 30px;
    padding-bottom: 30px;
}
.team-icons {
    width: 20px;

    height: 20px;
}
.social-link {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: #afb1b8;
    background-color: var(--first-txt-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social {
    display: flex;
    justify-content: center;
}

.social-item:not(:last-child) {
    margin-right: 10px;
    background-size: contain;
}

.social-link:hover,
.social-link:focus {
    background-color: var(--accent-txt-color);
    fill: var(--first-txt-color);
}